# Gradle
.gradle/
build/
app/build/
app/filemanager.keystore

# Local config
local.properties

# IDE
.idea/
*.iml
.DS_Store
Thumbs.db

# Logs
*.log

# Android
*.apk
*.aab
*.ap_
*.dex

# Temporary files
*.tmp
*.bak
